footer {
  background-color: #ffffff;
}

#footer_items {
  display: flex;
  justify-content: space-between;
  padding: 10px 8% 24px 8%;
  align-items: center;
}

#copy {
  color: #1d1d1d;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  #footer_items {
    flex-direction: column;
    gap: 20px;
  }
}