header {
  width: 100%;
  padding: 15px 8%; /*esse padding para a responsividade*/
}

#navbar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#nav_logo {
  max-width: 100%;
  max-height: 120px;
  height: auto;
  width: auto;
  filter: drop-shadow(3px 1px 1px rgba(0, 0, 0, 0.37));
  
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-item.active a {
  color: #012d70;
  border-bottom: 3px solid #0347ad;
}

#mobile_btn {
  display: none;
}

#mobile_menu {
  display: none;
}

@media screen and (max-width: 1170px) {
  #nav_list,
  #navbar .btn-default {
    display: none;
  }
  #mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    left: 40%;
  }

  #mobile_menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  }

  #navbar {
    width: 85%;
  }
}